extends layout 
block content
  h1 #{title} 
  //- span #{results}
  //- span #{images}
  span #{results}
  
  //- ul 
  //-   each val in #{results}
  //-   li= val  
  
  a#historyLink(href='history') Look up my search history    
